*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    overflow-x: none;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Algerian;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style:none;
    margin-left: 60px;
    margin-top: 27px;
    font-size: 16px;
}

ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: yellow;
}

.search{
    width: 300px;
    float: left;
    margin-left: 270px;
    
}

.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid white;
    margin-top: 5%;
    color: rgb(241, 241, 240);
    border-right: none;
    font-size: 15px;
    float: left; 
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
   
}

.btn{
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    margin-top: 15px;
    color: white;
    font-size: 15px;
    font-weight:bolder;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;   
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline:none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position:relative ;
    left: 17px;
}

.para{
    padding-left: 20px;
    padding-top: 10px;
    line-height: 22px;
    font-family: 'Times New Roman';
    letter-spacing: 1px;
}

.content h1{
    font-family: serif;
    font-size: 50px;
    margin-top: 8%;
    letter-spacing: 2px;
}

.ctn{
    width:150px;
    height: 50px;
    border:none;
    background:#ff7200;
    color: black ;
    font-size: 14px;
    font-weight: 700;
    margin-top: 2%;
    letter-spacing: 0.8px;
    margin-left: 1.7%;
    cursor: pointer;    
}

.ctn a{
    text-decoration: none;
    transition: .3s ease;
}

.ctn:hover{
    background-color:  cyan;
}

.form{
    width: 200px;
    height: 380px;
   background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
   position: absolute;
   top: -20px;
   right: 50px;
   border-radius: 10px;
   padding: 25px;
   background-color:transparent;
}

.form h2{
    width: 220px;
    text-align: center;
    font-family: sans-serif;
    color: #ff7200;
    background-color:transparent;
   
    font-size: 22px;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width:240px;
    height:35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-left: none;
    border-right: none;
    border-top: none;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
    outline: none;
}

::placeholder{
    color: white;
    font-family: Arial;
}

.btnn {
    width:150px;
    height:40px;
    margin-top: 20px;
    margin-left: 42px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: white;
    background-color: #ff7200;
    transition: .3s ease;
    font-weight: bold;
}

.btnn a{
    color: #fff;
    text-decoration: none;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 20px;
    text-align: center;
    margin-left: 30px; 
}

.form .link a{
    text-decoration: none;
    color: #ff7200;
    padding-right: 2px;
}

.liw
{
    letter-spacing: 1px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    padding-left: 35px;
}

.icon a{
    text-decoration: none;
    color: #fff;
}

.icon ion-icon{
    color: #fff;
    font-size: 22px;
    padding-left: 14px;
    padding-top: 5px;
    
}